[Desktop Entry]
Version=1.0
Type=Application
Name=Ghidra
Icon=ghidra
Comment=Software reverse engineering framework
Categories=Development
Exec=/usr/bin/ghidra
