[user]

[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[help]
	autocorrect = 1
