! general
xterm*termName: xterm-256color
xterm*title: 
xterm*locale: true
xterm*metaSendsEscape: true
xterm*fullscreen: never
xterm*internalBorder: 0
xterm*saveLines: 4096
xterm*scrollTtyOutput: false
xterm*scrollKey: true

! menu colors
xterm*foreground: #20ad20
xterm*background: #080808

! emulator colors
xterm*VT100*foreground: rgb:b2/b2/b2
xterm*VT100*background: rgb:00/00/00

! black
xterm*VT100*color0:  #000000
xterm*VT100*color8:  #3d3d3d
! red
xterm*VT100*color1:  #ff5d28
xterm*VT100*color9:  #ff5d28
! green
xterm*VT100*color2:  #20ad20
xterm*VT100*color10: #20ad20
! yellow
xterm*VT100*color3:  #e6ea50
xterm*VT100*color11: #e6ea50
! blue
xterm*VT100*color4:  #231bb8
xterm*VT100*color12: #276CC2
! magenta
xterm*VT100*color5:  #af5f5f
xterm*VT100*color13: #af5f5f
! cyan
xterm*VT100*color6:  #4390B1
xterm*VT100*color14: #5495DC
! white
xterm*VT100*color7:  #fefefe
xterm*VT100*color15: #ffffff

! font
xterm*faceName: DejaVu Sans Mono
xterm*faceNameDoublesize: HanaMinA
xterm*faceSize: 9

! selectable urls & custom shortcuts
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*VT100*translations: #override \n\
	Mod1 <Btn1Up>: exec-formatted("dwb '%t'", PRIMARY) \n\
	Shift Ctrl <Key> V: insert-selection(CLIPBOARD) \n\
	Mod4 Shift <Key> Return: spawn-new-terminal() \n

